<!-- component -->
<div class="flex h-screen w-full items-center justify-center bg-transparent bg-cover bg-no-repeat">
  <div class="rounded-xl bg-gray-800 bg-opacity-50 px-16 py-5 shadow-lg backdrop-blur-md max-sm:px-8">
    <div class="text-white">
      <div class="mb-8 flex flex-col items-center">
        <img src="https://www.svgrepo.com/show/418032/user.svg" width="150" alt="" srcset="" />
        <h1 class="mb-2 text-2xl">Register</h1>
        <span class="text-gray-300">Enter Your Details</span>
      </div>
      <form [formGroup]="registerForm" #form="ngForm">
        <div class="mb-4 text-lg">
          <input
            class="rounded-xl border-none bg-cyan-400 bg-opacity-50 px-6 py-2 text-center text-inherit placeholder-slate-200 shadow-lg outline-none backdrop-blur-md text-base"
            type="text" name="username" placeholder="Username" formControlName="Username"/>
        </div>

        <div class="mb-4 text-lg">
          <input
            class="rounded-xl border-none bg-cyan-400 bg-opacity-50 px-6 py-2 text-center text-inherit placeholder-slate-200 shadow-lg outline-none backdrop-blur-md text-base"
            type="text" name="email" placeholder="Email" formControlName="Email"/>
        </div>

        <div class="mb-4 text-lg">
          <input
            class="rounded-xl border-none bg-cyan-400 bg-opacity-50 px-6 py-2 text-center text-inherit placeholder-slate-200 shadow-lg outline-none backdrop-blur-md text-base"
            type="text" name="phone" placeholder="Phone" formControlName="Phone"/>
        </div>

        <div class="mb-4 text-lg">
          <input
            class="rounded-xl border-none bg-cyan-400 bg-opacity-50 px-6 py-2 text-center text-inherit placeholder-slate-200 shadow-lg outline-none backdrop-blur-md text-base"
            type="Password" name="password" placeholder="Password" formControlName="Password"/>
        </div>

        <div class="mt-8 flex justify-center text-lg text-black">
          <button type="submit"
            class="rounded-3xl bg-transparent px-10 py-2 text-white shadow-xl backdrop-blur-md transition-colors duration-300 hover:bg-cyan-600" routerLink="/login" type="button" (click)="onSubmit()" [disabled]="!registerForm.valid">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
